/* Write Your Css Code */
/* Write Your Css Code */

body {
  background-color: #000000;
}

.navbar {
  background-color: #111315 !important;
}

.jumbotron {
  background-color: #141617;
  padding: 2rem;
}

.jumbotron h3 {
  color: #ccc;
}

.container .row figure {
  position: relative;
  border: 1px solid gray;
  margin: 0.8rem;
  padding: 0;
  cursor: pointer;
}

.container .row figure span:first-child {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid gray;
  padding: 2px;
  background: #555;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  z-index: 4;
}

.container .row figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #222;
  border: 1px solid gray;
  opacity: 0;
  transform: rotateY(90deg) perspective(600px);
  transition: all 0.5s ease;
}

.row figure img {
  object-fit: contain;
  max-height: 270px;
  transform: rotateY(0deg) perspective(600px);
  transition: all 0.36s ease;
}

.row figure:hover > img {
  transform: rotateY(-179deg);
}

.row figure:hover > figcaption {
  transform: rotateY(0deg);
  opacity: 0.9;
  transition-delay: 0.1399999999999s;
}

.row figure figcaption hr {
  margin: 5px;
  border-color: gray;
}
